/* red hat text */
@font-face {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 100 900;
    src: url('../assets/fonts/RedHatText-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Red Hat Text Italic';
    font-style: normal;
    font-weight: 100 900;
    src: url('../assets/fonts/RedHatText-Italic-VariableFont_wght.ttf') format('truetype');
}
