:root {
    /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1440,18,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --step--2: clamp(0.6944rem, 0.6696rem + 0.124vw, 0.7813rem);
    --step--1: clamp(0.8333rem, 0.8036rem + 0.1488vw, 0.9375rem);
    --step-0: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
    --step-1: clamp(1.2rem, 1.1571rem + 0.2143vw, 1.35rem);
    --step-2: clamp(1.44rem, 1.3886rem + 0.2571vw, 1.62rem);
    --step-3: clamp(1.728rem, 1.6663rem + 0.3086vw, 1.944rem);
    --step-4: clamp(2.0736rem, 1.9995rem + 0.3703vw, 2.3328rem);
    --step-5: clamp(2.4883rem, 2.3995rem + 0.4443vw, 2.7994rem);

    /* @link https://utopia.fyi/space/calculator?c=320,16,1.067,1240,18,1.067,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vw, 0.3125rem);
    --space-2xs: clamp(0.5rem, 0.4783rem + 0.1087vw, 0.5625rem);
    --space-xs: clamp(0.75rem, 0.7065rem + 0.2174vw, 0.875rem);
    --space-s: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
    --space-m: clamp(1.5rem, 1.4348rem + 0.3261vw, 1.6875rem);
    --space-l: clamp(2rem, 1.913rem + 0.4348vw, 2.25rem);
    --space-xl: clamp(3rem, 2.8696rem + 0.6522vw, 3.375rem);
    --space-2xl: clamp(4rem, 3.8261rem + 0.8696vw, 4.5rem);
    --space-3xl: clamp(6rem, 5.7391rem + 1.3043vw, 6.75rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.25rem, 0.1413rem + 0.5435vw, 0.5625rem);
    --space-2xs-xs: clamp(0.5rem, 0.3696rem + 0.6522vw, 0.875rem);
    --space-xs-s: clamp(0.75rem, 0.6196rem + 0.6522vw, 1.125rem);
    --space-s-m: clamp(1rem, 0.7609rem + 1.1957vw, 1.6875rem);
    --space-m-l: clamp(1.5rem, 1.2391rem + 1.3043vw, 2.25rem);
    --space-l-xl: clamp(2rem, 1.5217rem + 2.3913vw, 3.375rem);
    --space-xl-2xl: clamp(3rem, 2.4783rem + 2.6087vw, 4.5rem);
    --space-2xl-3xl: clamp(4rem, 3.0435rem + 4.7826vw, 6.75rem);

    /* Custom pairs */
    --space-s-l: clamp(1rem, 0.5652rem + 2.1739vw, 2.25rem);

    /* @link https://utopia.fyi/grid/calculator?c=320,16,1.067,1240,18,1.067,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    /*--grid-max-width: 69.75rem;*/
    --grid-max-width: 80rem;
    --grid-gutter: var(--space-s-l, clamp(1rem, 0.4975rem + 2.5126vw, 2.25rem));
    --grid-columns: 12;

    --color-neutral-50: hsl(0 0% 98%);
    --color-neutral-100: hsl(0 0% 96%);
    --color-neutral-200: hsl(0 0% 93%);
    --color-neutral-300: hsl(0 0% 88%);
    --color-neutral-400: hsl(0 0% 74%);
    --color-neutral-500: hsl(0 0% 62%);
    --color-neutral-600: hsl(0 0% 46%); /* the gray used */
    --color-neutral-700: hsl(0 0% 38%);
    --color-neutral-800: hsl(0 0% 26%);
    --color-neutral-900: hsl(0 0% 13%);

    --color-bg: hsl(24 38% 97%);

    --color-primary: hsl(16 67% 42%);
    --color-primary-50: hsl(16 67% 98%);
    --color-primary-100: hsl(16 67% 96%);
    --color-primary-200: hsl(16 67% 93%);
    --color-primary-300: hsl(16 67% 88%);
    --color-primary-400: hsl(16 67% 74%);
    --color-primary-500: hsl(16 67% 62%);
    --color-primary-550: hsl(16 67% 53%);
    --color-primary-600: hsl(16 67% 42%); /* primary */
    --color-primary-700: hsl(16 67% 38%);
    --color-primary-800: hsl(16 67% 26%);
    --color-primary-900: hsl(16 67% 13%);

    --color-secondary: hsl(10 5% 40%);
    --color-secondary-50: hsl(10 5% 98%);
    --color-secondary-100: hsl(10 5% 96%);
    --color-secondary-200: hsl(10 5% 93%);
    --color-secondary-300: hsl(10 5% 88%);
    --color-secondary-400: hsl(10 5% 74%);
    --color-secondary-500: hsl(10 5% 62%);
    --color-secondary-600: hsl(10 5% 40%); /* secondary */
    --color-secondary-700: hsl(10 5% 38%);
    --color-secondary-800: hsl(10 5% 26%);
    --color-secondary-900: hsl(10 5% 13%);
}

.container {
    max-width: var(--grid-max-width);
    padding-inline: var(--grid-gutter);
    margin-inline: auto;
}

.grid {
    display: grid;
    gap: var(--grid-gutter);
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

html {
    background-color: var(--color-bg);
    scrollbar-gutter: stable;
}

html:has(dialog[open]:modal) {
    overflow: hidden;
}

body {
    font-family: "Red Hat Text", san-serif;
    font-size: var(--step-0);
    line-height: 1.5;
    font-weight: 500;
}

.hidden {
    display: none;
}

.bold {
    font-weight: 500;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
